.tab-pane {
    -fx-tab-min-height: 60px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

/* Tab styles - matching header-label appearance */
.tab {
    -fx-background-color: #94bfff;
    -fx-background-radius: 32px 32px 0px 0px;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, -2, -5);*/
}

.tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tab:selected {
    -fx-background-color: #007aff;
}

.tab:focused {
    -fx-border-width: 0;
}

/* Upload tab styles */

.upload-vbox {
    -fx-spacing: 16px;
}

.select-files-button, .upload-files-button, .generate-button {
    -fx-background-radius: 6px;
    -fx-text-fill: white;
    -fx-background-color: #007aff;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
}

.algo-choicebox {
    -fx-background-radius: 6px;
    -fx-text-fill: white;
    -fx-background-color: #007aff;
    -fx-font-size: 14px;
    -fx-padding: 4px 2px 4px 2px;
}

/* Style the text inside the ChoiceBox */
.algo-choicebox .label {
    -fx-text-fill: white;
}

/* Style the ChoiceBox when it opens */
.algo-choicebox .context-menu {
    -fx-background-color: #007aff;
    -fx-background-radius: 6px;
}

/* Style the menu items in the dropdown */
.algo-choicebox .context-menu .menu-item {
    -fx-background-color: #007aff;
    -fx-text-fill: white;
}

/* Style the menu items when hovered */
.algo-choicebox .context-menu .menu-item:focused, .algo-choicebox .context-menu .menu-item:hover {
    -fx-background-color: #94bfff;
    -fx-text-fill: black;
}

.sentence-output-label {
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.sentence-output-label-error {
    -fx-font-size: 16px;
    -fx-text-fill: red;
}